:root {
  --background-color: #ffffff;
  --color: #212121;
  --hover-color: #2196f3;
}

body {
  background-color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--color);
}
