:root {
--background-color: #FFFFFF;
--color: #212121;
--hover-color: #2196f3;
}

body {
background-color: var(--background-color);
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: var(--color);
}

.logo {font-family: 'Raleway', sans-serif;
font-weight: 700;
text-decoration: none;
color: #000000;
font-size: 26px;
line-height: 1.4;
}

.web {
  color: var(--hover-color);
}

.list {
  list-style-type: none;
}

.navi {
  text-decoration: none;
  color: var(--color);
  font-size: 14px;
  line-height: 1.17;
}

.navi:hover {
  color: var(--hover-color);
}
.navi:focus {
  color: var(--hover-color);
}
.contact {
  text-decoration: none;
  color:#757575;
  font-size: 14px;
  line-height: 1.17;
}

.contact:hover,
.contact:focus {
  color: var(--hover-color);
}

.box {
  background-color: #2F303A;
  }
.header-text {
  font-weight: 900;
  color:#FFFFFF;
  line-height: 60px;
  font-size: 44px;

}
.main-button {
  background-color: #2196f3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border: none;
}
.main-buttion:hover {
background-color: #e5e5e5;
color: var(--hover-color);
}
.person-name {
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
}
.function {
  color: #757575;
  font-size: 16px;
  line-height: 2;
}

.text {
font-size: 14px;
color: #757575;
line-height: 24px;

}
.size-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.size-medium {
  font-weight: 700;
  color: var(--color);
  font-size: 36px;
  line-height: 1.17;
}
.team {
  background-color: #F5F4FA;
}
.footer {
  background-color: #212121;
  color: #FFFFFF;
  text-decoration: none;
}

.warsow {
  font-style: normal;
}

.menu-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: none;
    cursor: pointer;
    color:#212121;
    background-color: E5E5E5;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #2196f3;
  color:#FFFFFF;
  border: none;
}


.contact-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  filter: opacity(60%)
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

.contact-list {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.7;
}
.image-description {
  font-size: 18px;
  font-weight: 700;
  color: var(--color);
  line-height: 2;
}